__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
.DS_Store
*.swp
*.bak
*.log
logs/
wandb/
sgl-kernel-npu/build/
sgl-kernel-npu/output/
SpecForge/cache/
SpecForge/logs/
SpecForge/outputs/
SpecForge/specforge.egg-info/
